/* App.css */
.forgot-password-section {
    background-color: #121212;
    color: #ffffff;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .forgot-password-container {
    background-color: #1e1e1e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .forgot-password-container>h1 {
    margin-bottom: 20px;
  }
  
  .forgot-password-container>input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
    margin-bottom: 20px;
    width: calc(100% - 24px); /* Adjust width based on padding and border */
  }
  
  .forgot-password-container>input:focus {
    outline: none;
    border-color: #00adb5;
  }
  
  .forgot-password-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00adb5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgot-password-container>button:hover {
    background-color: #007f82;
  }
  